{% load static %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <title>Collector App</title>
<link rel="stylesheet" href="{% static 'collector/css/login.css'%}">

</head>

<div class="box">
    <div class="title-box">
      <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSg6Su-byWkX7UBRFMs_y6k3um6TGV8XpKe_ZJxnvFerOj7YmlV" alt="Collector">
      <p>Collector</p>
    </div>
    {% block content %}
    <div class="form-box">
      <form action="{% url 'collector:login' %}" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" value="Login">Log In</button>
        <a href="#">Forgotten Password</a>
      </form>
      <hr>
      <div class="create-btn">
        <a href="{% url 'collector:signup' %}" target="_blank">First Timer?</a>
      </div>
    </div>
  </div>



  {% endblock %}